<div id="<%= dom_id comment %>" class="my-2" style="width: 42em !important;">
  <div class="card">
    <div class="card-body">
      <p class="card-text"><%= comment.comment %></p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary"><%= comment.user.email %></small>
    </div>
  </div>
</div>