<%= turbo_frame_tag "comments_modal", target: :_top do %>
  <div data-controller="comment-modal" data-action="turbo:submit-end->comment-modal#">
    <%= render 'comments/form', comment: @comment, article: @article %>
  </div>
<% end %>