<h1>Welcome <%= @user.email %> to Send Email in Rails 7 App! </h1>
<p>
  Your username is: <%= @user.id %>.<br>
  <h1><%= "@article.title" %> created successfully.</h1>
  <%= link_to "CHeck out", '#' %>
</p>
<p>Thanks for joining and have a great day!</p>