<div class="row">
  <h2>My articles</h2>
  <div class="col-10">
    <% if @articles.blank? %>
      <p>There's no articles</p>
    <% else %>
      <div class="d-flex flex-row justify-content-between flex-wrap">
      <%= render @articles %>
      </div>
    <% end %>
  </div>
  <div class="col-2">
    <h3>Links</h3>
    <%= link_to 'Create new', new_article_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>

</div>